.company-section {
  text-align: center;
  padding: 50px 20px;
  background-color:rgba(228, 233, 230, 0.45);
  
}

.company-h2{
  margin-bottom: 45px;
  text-align: center;
  color:#595c73;
  font-family:Times New Roman;
  
}

.company-section h2 {
  font-size: 18px;
  color:rgba(117, 118, 117, 0.92);
  color: #595c73;
}

.company-logos {
 
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin-left:7rem;
    margin-right: 7rem;
}

@media (max-width: 61.25rem) {
  .company-logos {
      grid-auto-flow: row;
      grid-template-columns: repeat(4, 4fr);
      grid-gap: 1.6rem;
      margin-left:0rem;
      margin-right: 0rem;
  }
}



.company-logo {
  height: 6vh;
  filter: grayscale(100%);
}

@media (max-width: 61.25rem) {
  .company-logo {
    height: 5vh;
  }
}

@media (max-width: 31.25rem) {
  .company-logo {
    height: 4vh;
  }
}
